body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  animation: myanimation 60s infinite;
  text-align: center;
}

/* img {
  width: 500px;
  height: 500px;
} */
@keyframes myanimation {
  0% {background-color: salmon;}
  25%{background-color: dodgerblue;}
  50%{background-color:  salmon;}
  75%{background-color:dodgerblue;}
  100% {background-color: salmon;}
}
